@import '~js-datepicker/dist/datepicker.min.css';

* {
  font-family: 'Catamaran', sans-serif;
  text-align: center;
  /* display: flex; */
}

body {
  background: lightblue;
}

img {
  max-width: 10%;
  height: auto;
  /* align-self: flex-end; */
}

header {
  background-color: white;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  border: 3px black solid;
}

h2, h3 {
  font-size: large;
}

.trips-list {
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
}